/* RTL support */
#content {text-align:right; direction:rtl;}
.site-footer, .highlight, pre, .l {text-align:left; direction:ltr;}

/* Printing support */
#content h2 {break-before:page;}
li, pre, p, .highlight, .site-footer, .l, .av {page-break-inside:avoid;}

/* Rest support */
#content {text-align:justify;}
h1, h2, h3, .c {text-align:center;}
code.highlighter-rouge {white-space:nowrap;}
.courier {font-family:'Courier New';}
.ind {text-indent:10%}
.s5 {text-align:left;}

